@model TheDarkPortal.Web.ViewModels.User.UserCurrencyViewModel;
<head>
    <link href="~/css/resources-bar.css" rel="stylesheet" />
</head>

<div id="resource-bar" class="col-md-12">
    <div class="row justify-content-lg-end">
        <div id="rectangle" class="row">

            <span >
                <span class="currency-image-container">  <img src="~/images/Home/silver.png" /></span>
                <span class="resource"> @Model.Platinum </span>
            </span>

            <span >
                <span class="currency-image-container"> <img src="~/images/Home/CurrencyGold_icon.png" /></span>
                <span class="resource"> @Model.Gold </span>
            </span>

            <span c>
                <span class="currency-image-container"><img src="~/images/Home/CurrencyCrystal_icon.png" /></span>
                <span class="resource"> @Model.Platinum </span>
            </span>
        </div>
    </div>
</div>

