@model TheDarkPortal.Web.ViewModels.User.UserCurrencyViewModel;

<div class="row text-center">

    <p>
        Silver @Model.Silver
    </p>

    <p>
        Gold @Model.Gold
    </p>

    <p>
        Platinum @Model.Platinum
    </p>

</div>
