@model TheDarkPortal.Web.ViewModels.User.UserCurrencyViewModel;

<div class="row text-center">

    <div class="col-md-12" style="z-index: 1;">
        <div class="row justify-content-center">
            <div class="row">
                <p style="color: orangered;">--- Silver: @Model.Silver --- </p>
                <p style="color: orangered">Gold: @Model.Gold --- </p>
                <p style="color: orangered;">Platinum: @Model.Platinum ---</p>
            </div>
        </div>
    </div>

</div>
