@model TheDarkPortal.Web.ViewModels.Home.HomeLoggedStatsViewModel;
@using TheDarkPortal.Common;

@{
    this.ViewData["Title"] = "Home Page";
}



@if (User.Identity.IsAuthenticated)
{

    @if (Model.Currencies != null)
    {
        <div>
            <partial name="_UserCurrencyPartial" model="@Model.Currencies" />
        </div>
    }
}

<div id="main" class="">

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level1" class="level">
            <p>Level 1</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level2" class="level">
            <p>Level 2</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level3" class="level">
            <p>Level 3</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level4" class="level">
            <p>Level 4</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level5" class="level">
            <p>Level 5</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level6" class="level">
            <p>Level 6 Boss</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level7" class="level">
            <p>Level 7</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level8" class="level">
            <p>Level 8</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level9" class="level">
            <p>Level 9</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level10" class="level">
            <p>Level 10</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level11" class="level">
            <p>Level 11 Boss</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level12" class="level">
            <p>Level 12</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level13" class="level">
            <p>Level 13</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level14" class="level">
            <p>Level 14 The Portal</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level15" class="level">
            <p>Level 15 Special</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level16" class="level">
            <p>Level 16 Special</p>
        </div>
    </a>

</div>



