@model TheDarkPortal.Web.ViewModels.Home.HomeLoggedStatsViewModel;
@using TheDarkPortal.Common;

@{
    this.ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>


@if (User.Identity.IsAuthenticated)
{

    @if (Model.Currencies != null)
    {
        <div>
            <partial name="_UserCurrencyPartial" model="@Model.Currencies" />
        </div>
    }
}

<div id="main" class="">

    <a class="text-dark" data-toggle="modal" title="Level One" data-target="#exampleModalCenter">
        <div id="level1" class="level">
            <p>Level 1</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level2" class="level">
            <p>Level 2</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level3" class="level">
            <p>Level 3</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level4" class="level">
            <p>Level 4</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level5" class="level">
            <p>Level 5</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level6" class="level">
            <p>Level 6 Boss</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level7" class="level">
            <p>Level 7</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level8" class="level">
            <p>Level 8</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level9" class="level">
            <p>Level 9</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level10" class="level">
            <p>Level 10</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level11" class="level">
            <p>Level 11 Boss</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level12" class="level">
            <p>Level 12</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level13" class="level">
            <p>Level 13</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level14" class="level">
            <p>Level 14 The Portal</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level15" class="level">
            <p>Level 15 Special</p>
        </div>
    </a>

    <a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com">
        <div id="level16" class="level">
            <p>Level 16 Special</p>
        </div>
    </a>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" style="background: hsl(220, 10%, 12%); color: white;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Level One</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 row">
                    <div class="col-md-7">
                        <h2>Story</h2>
                        <p>
                            Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
                            Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
                            Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
                        </p>
                    </div>

                    <div class="col-md-3">
                        <h2>Reword</h2>
                        <p>Silver<br />1500</p>
                        <p>Gold<br />2500</p>
                        <p>Platinum<br />1000</p>
                        <img src="/images/Demon-1.jpg" alt="Alternate Text" style="max-width: 3rem;" />
                    </div>

                    <div class="col-md-2 row justify-content-end">
                        <h2>Enemy</h2>
                        <img src="/images/Demon-1.jpg" alt="Alternate Text" style="max-width: 3rem;" />
                        <img src="/images/Demon-1.jpg" alt="Alternate Text" style="max-width: 3rem;" />
                        <img src="/images/Demon-1.jpg" alt="Alternate Text" style="max-width: 3rem;" />
                        <img src="/images/Demon-1.jpg" alt="Alternate Text" style="max-width: 3rem;" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-danger"><a class="text-dark" asp-controller="OfflineBattle" asp-action="StoryBattle" asp-route-enemyName="darkk44@yahoo.com"></a>Attack</button>

            </div>
        </div>
    </div>
</div>



