body {
    max-height: 1080px;
}

/*.level :hover {
    transform: scale(1.08);
}
*/
/*.container-fluid {
    background-image: url("http://www.placecage.com/1000/800");
    min-height: 400px;
}*/

#wrapper {
    width: 100%;
    max-width: 1920px; /*actual width of image-- behaves strangely if exceeding this*/
    position: relative;
}

#wrapper img {
        max-width: 100%;
    }

/*level :hover{
    text-decoration: none !important;
}*/

a p{
    font-size: 12px;
}

#anchor-level1{
    width: 2.7%;
    height: 4.5%;
    border: 2px solid red;
    border-radius:50%;

    position: absolute;
    left: 9.2%;
    top: 66.5%;
}

#anchor-level2 {
    width: 2.7%;
    height: 4.5%;
    border: 2px solid red;
    border-radius: 50%;

    position: absolute;
    left: 18.2%;
    top: 50.5%;
}

#anchor-level3 {
    width: 2.7%;
    height: 4.5%;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    left: 23.4%;
    top: 45.5%;
}

#anchor-level4 {
    width: 2.7%;
    height: 4.5%;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    left: 25.8%;
    top: 60.95%;
}

#anchor-level5 {
    width: 2.7%;
    height: 4.5%;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    left: 30.75%;
    top: 74.35%;
}

#anchor-level6 {
    width: 8.1%;
    height: 14%;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    left: 39.75%;
    top: 48.38%;
}

#anchor-level7 {
    width: 3.85%;
    height: 6.75%;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    left: 35.0%;
    top: 37.3%;
}

#anchor-level8 {
    width: 3.85%;
    height: 6.75%;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    left: 53.2%;
    top: 60.35%;
}

#anchor-level9 {
    width: 3.85%;
    height: 6.75%;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    left: 54.9%;
    top: 44.6%;
}

#anchor-level10 {
    width: 3.85%;
    height: 6.75%;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    left: 62.5%;
    top: 34.2%;
}

#anchor-level11 {
    width: 9.65%;
    height: 16.5%;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    left: 65.25%;
    top: 55.9%;
}

#anchor-level12 {
    width: 4.9%;
    height: 8.4%;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    left: 79%;
    top: 61.5%;
}

#anchor-level13 {
    width: 6.5%;
    height: 11.4%;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    left: 75.9%;
    top: 34%;
}

#anchor-level14 {
    width: 7%;
    height: 13%;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    left: 82.7%;
    top: 17.5%;
}

#anchor-level15 {
    width: 4.85%;
    height: 8.5%;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    left: 19.1%;
    top: 15.5%;
}

#anchor-level16 {
    width: 4.85%;
    height: 8.5%;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    left: 16.5%;
    top: 28.5%;
}

#anchor-level17 {
    width: 2.7%;
    height: 4.5%;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    left: 9.2%;
    top: 66.5%;
}

#anchor-level18 {
    width: 2.7%;
    height: 4.5%;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    left: 9.2%;
    top: 66.5%;
}

#level1 {
    z-index: 2;
    /*background: url(/images/Home/ArenaButton.jpg);*/
    border: 2px solid red;
    position: absolute;
    right: 1675px;
    top: 700px;
    height: 80px;
    width: 80px;
}

#level2 {
    z-index: 2;
    /*background: url(/images/Home/ArenaButton.jpg);*/
    border: 2px solid red;
    position: absolute;
    right: 1505px;
    top: 530px;
    height: 80px;
    width: 80px;
}

#level3 {
    z-index: 2;
    /*background: url(/images/Home/ArenaButton.jpg);*/
    border: 2px solid red;
    position: absolute;
    right: 1405px;
    top: 480px;
    height: 80px;
    width: 80px;
}

#level4 {
    z-index: 2;
    /*background: url(/images/Home/ArenaButton.jpg);*/
    border: 2px solid red;
    position: absolute;
    right: 1360px;
    top: 645px;
    height: 80px;
    width: 80px;
}

#level5 {
    z-index: 2;
    /*background: url(/images/Home/ArenaButton.jpg);*/
    border: 2px solid red;
    position: absolute;
    right: 1260px;
    top: 790px;
    height: 80px;
    width: 80px;
}

#level6 {
    z-index: 2;
    /*background: url(/images/Home/ArenaButton.jpg);*/
    border: 2px solid red;
    position: absolute;
    right: 1020px;
    top: 540px;
    height: 120px;
    width: 120px;
}

#level7 {
    z-index: 2;
    /*background: url(/images/Home/ArenaButton.jpg);*/
    border: 2px solid red;
    position: absolute;
    right: 1175px;
    top: 400px;
    height: 80px;
    width: 80px;
}

#level8 {
    z-index: 2;
    /*background: url(/images/Home/ArenaButton.jpg);*/
    border: 2px solid red;
    position: absolute;
    right: 645px;
    top: 365px;
    height: 80px;
    width: 80px;
}

#level9 {
    z-index: 2;
    /*background: url(/images/Home/ArenaButton.jpg);*/
    border: 2px solid red;
    position: absolute;
    right: 790px;
    top: 475px;
    height: 80px;
    width: 80px;
}

#level10 {
    z-index: 2;
    /*background: url(/images/Home/ArenaButton.jpg);*/
    border: 2px solid red;
    position: absolute;
    right: 820px;
    top: 645px;
    height: 80px;
    width: 80px;
}

#level11 {
    z-index: 2;
    /*background: url(/images/Home/ArenaButton.jpg);*/
    border: 2px solid red;
    position: absolute;
    right: 515px;
    top: 635px;
    height: 120px;
    width: 120px;
}

#level12 {
    z-index: 2;
    /*background: url(/images/Home/ArenaButton.jpg);*/
    border: 2px solid red;
    position: absolute;
    right: 315px;
    top: 670px;
    height: 80px;
    width: 80px;
}

#level13 {
    z-index: 2;
    /*background: url(/images/Home/ArenaButton.jpg);*/
    border: 2px solid red;
    position: absolute;
    right: 360px;
    top: 385px;
    height: 80px;
    width: 80px;
}

#level14 {
    z-index: 2;
    /*background: url(/images/Home/ArenaButton.jpg);*/
    border: 2px solid red;
    position: absolute;
    right: 135px;
    top: 150px;
    height: 180px;
    width: 250px;
}

#level15 {
    z-index: 2;
    /*background: url(/images/Home/ArenaButton.jpg);*/
    border: 2px solid red;
    position: absolute;
    right: 1515px;
    top: 315px;
    height: 80px;
    width: 80px;
}

#level16 {
    z-index: 2;
    /*background: url(/images/Home/ArenaButton.jpg);*/
    border: 2px solid red;
    position: absolute;
    right: 1465px;
    top: 175px;
    height: 80px;
    width: 80px;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
